html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Quicksand', sans-serif;
 font-weight: 500;
}


a{
    text-decoration:none !important;
     font-family: 'Quicksand', sans-serif;
}

a:focus,
a:active {
     font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    outline: none;
}

p{
     font-family: 'Quicksand', sans-serif;
    font-size:16px;
}

*:focus {
    outline: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Quicksand', sans-serif;
 font-weight: 500;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

p{
    font-size:16px;
}

*:focus {
    outline: 0;
}
#wrapper{
    margin: 25px 0;
}
a {
    font-family: 'Quicksand', sans-serif;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.col-md-12 a {
    color: #64985a;
}

.col-md-12 a:hover {
    color: #004e00;
}

.namedepartment {
    padding: 20px 24px 20px 24px;
    line-height: normal;
}

h1.name{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #243c4f;
    padding: 0;
    margin: 0;
}

h3.department {
    font-family: 'Quicksand', sans-serif;
    color:#333;
    font-weight: 600;
    line-height: 30px;
    font-size:18px;
    padding: 0;
    margin: 0;
}

a.mail {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #333;
}

a.supervisor {
}

a.dotted {
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px dotted #b3b3b3;
    color: #333;
}

.bordertop{
    border-top: 2px dashed #cccccc;
}

.bio{
    font-family: 'Quicksand', sans-serif;
    padding: 18px 18px;
    float:left;
    text-align:justify;
    color: #333;
    width:100%;
    border-bottom: 2px dashed #cccccc;
    line-height: normal;
}

.researchsection {
    font-family: 'Quicksand', sans-serif;
    padding: 18px 18px;
    float:left;
    text-align:justify;
    color: #333;
    width:100%;
    border-bottom: 2px dashed #cccccc;
    line-height: normal;
}

.researchsection a {
    color: #243c4f;
}


.papers {
    font-family: 'Quicksand', sans-serif;
    padding: 18px 18px;
    float:left;
    text-align:justify;
    color: #333;
    width:100%;
    border-bottom: 2px dashed #cccccc;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.shortcuts {
    font-family: 'Quicksand', sans-serif;
    border-bottom: 2px dashed #cccccc;
    text-align: right;
}
.papers li {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 18px;
}
.papers li:last-of-type {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 0;
}
.noborder {
    border-bottom: 0!important;
}

.leftmenu {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px dashed #cccccc;
    line-height: 30px;
}

.leftmenu a {
    font-family: 'Quicksand', sans-serif;
    color: #2c6658;
    font-weight: 400;
}
.leftmenu a:hover {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #2c6658;
}

.leftmenu li.active {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #2c6658;
    cursor: default
}

.icons {
    padding: 15px;
}

.icons a {
    color: #2c6658;
    font-size: 25px;
}

.icons i {
    color: #2c6658;
    font-size: 25px;
}
.icons i:hover {
    font-size: 30px;
}
ul {
    margin: 0 !important;
}


.photo{
    width:100%;
    -webkit-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

.photo img{
    width:100%;
}

.left-menu{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-align:center;
    background:#FFFFFF;
    -webkit-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

.left-menu h1{
    font-size:20px;
    font-weight:900;
}


.content{
    background:#fff;
    /*    margin-top:30px;*/
    -webkit-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
    box-shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
}

.page{
    padding-top:30px;
    display: inline-block;
    min-height: 670px;
}

.section-title{
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
}


/*Max Width 1199px */

@media screen and (max-width: 1199px) {


    ul.top-menu li a {
        padding:30px 20px;
    }

}

/*Max Width 991px */

@media screen and (max-width: 991px) {

    .profile{
        margin-bottom: 30px;
    }


}


/*Max Width 767px */

@media screen and (max-width: 767px) {


    .profile{
        margin-bottom: 30px;
    }

}


@media only screen and (max-width:479px) {

    #wrapper {
        margin: 15px 0;
    }

}
